body {
  margin: 0;
  font-family: "Bitter", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App--container {
  background-color: rgb(251, 251, 251);
  margin: 15px;
  height: 100%;
}

.Header--header {
  max-height: 50px;
}

.Header--nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 50px;
  background-color: rgb(251, 251, 251);
}

.Header--menu {
  display: flex;
  align-items: center;
  width: 500px;

  justify-content: space-evenly;
}

.Header--menu-list {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  position: relative;
  margin-left: 0;
  padding-left: 1.2em;
  color: rgb(15, 52, 166);
  list-style: none;
}

.Header--about-li ::before,
.Header--projects-li ::before,
.Header--contact-li ::before {
  color: #34675c;
  display: inline-block;
  width: 0.5em;
  margin-right: 1em;
}

.Header--about-li ::before {
  content: "01.";
}

.Header--projects-li ::before {
  content: "02.";
}

.Header--contact-li ::before {
  content: "03.";
}

.Header--menu-list a {
  text-decoration: none;
  color: rgb(15, 52, 166);
}

.Header--button-resume {
  height: 30px;
  background-color: whitesmoke;
  border: none;
  border-radius: 5px;
  border: 1px solid rgb(15, 52, 166);
  color: rgb(15, 52, 166);
}

.Header--button-resume:hover {
  cursor: pointer;
  background-color: rgba(15, 52, 166, 0.1);
  transition-delay: 0.3s;
  transition-duration: 1s;
}

.Intro--container {
  display: flex;
  padding: 0px 10px;
  height: 300vh;
  margin: 0;
}

.Intro--img-container {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
}

.Intro--img {
  width: 520px;
  height: 350px;
  border-radius: 10px;
}

.Intro--about-container {
  width: 50%;
}

.Intro--about-div {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.Intro--text-change-container {
  display: flex;
  line-height: 70px;
  height: 70px;
  overflow: hidden;
}

.Intro--paragraph {
  position: relative;
  text-align: center;
  font-size: 26px;
  margin-top: 5px;
  line-height: 1.6;
  color: rgb(15, 52, 166);
}

.Intro--american-football {
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='95%'>🏈</text></svg>");
}

.Intro--american-football:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🏈</text></svg>")
      16 0,
    auto;
}

.Intro--plane {
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='95%'>🪂</text></svg>");
}

.Intro--plane:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🪂</text></svg>")
      16 0,
    auto;
}

.Intro--music {
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='95%'>🎵</text></svg>");
}

.Intro--music:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎵</text></svg>")
      16 0,
    auto;
}
