body {
  margin: 0;
  font-family: "Bitter", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App--container {
  background-color: rgb(251, 251, 251);
  margin: 15px;
  height: 100%;
}

.Header--header {
  max-height: 50px;
}

.Header--nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 50px;
  background-color: rgb(251, 251, 251);
}

.Header--logo {
  padding: 10px;
}

.Header--logo:hover {
  cursor: pointer;
}

.Header--logo p {
  margin: 0;
}

.Header--menu {
  display: flex;
  align-items: center;
  width: 500px;

  justify-content: space-evenly;
}

.Header--menu-list {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  position: relative;
  margin-left: 0;
  padding-left: 1.2em;
  color: rgb(15, 52, 166);
  list-style: none;
}

.Header--about-li ::before,
.Header--projects-li ::before,
.Header--contact-li ::before {
  color: rgb(1, 191, 155);
  display: inline-block;
  width: 0.5em;
  margin-right: 1em;
}

.Header--about-li ::before {
  content: "01.";
}

.Header--projects-li ::before {
  content: "02.";
}

.Header--contact-li ::before {
  content: "03.";
}

.Header--menu-list a {
  text-decoration: none;
  color: rgb(45, 47, 46);
}

.Header--button-resume,
.About--button {
  height: 30px;
  background-color: whitesmoke;
  border: none;
  border-radius: 5px;
  border: 1px solid rgb(1, 191, 155);
  color: rgb(45, 47, 46);
}

.Header--button-resume:hover,
.About--button:hover {
  cursor: pointer;
  background-color: rgba(242, 243, 229, 0.5);
  transition-delay: 0.3s;
  transition-duration: 0.5s;
}

.Intro--container {
  display: flex;
  padding: 0px 10px;
  height: 100vh;
  margin: 0;
}

.Intro--img-container {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
}

.Intro--img {
  width: 520px;
  height: 350px;
  border-radius: 10px;
}

.Intro--about-container {
  width: 50%;
}

.Intro--about-div {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.Intro--name {
  display: flex;
  align-items: center;
}

.Intro--speaker {
  padding-left: 30px;
  margin: 0;
  width: 50px;
  height: 50px;
}

.Intro--speaker:hover {
  cursor: pointer;
}

.Intro--text-change-container {
  display: flex;
  line-height: 70px;
  height: 70px;
  overflow: hidden;
}

.Intro--paragraph {
  position: relative;
  font-size: 26px;
  line-height: 1.6;
  color: rgb(45, 47, 46);
  padding-top: 3px;
  padding-left: 30px;
  margin: 0;
}

#Intro--Hi,
#Intro--pronounced {
  font-size: 0.9em;
  color: rgb(1, 191, 155);
  padding-left: 30px;
  margin: 0;
}

#Intro--Kevwe {
  font-size: 4em;
}

.Intro--american-football {
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='95%'>🏈</text></svg>");
}

.Intro--american-football:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🏈</text></svg>")
      16 0,
    auto;
}

.Intro--plane {
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='95%'>🪂</text></svg>");
}

.Intro--plane:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🪂</text></svg>")
      16 0,
    auto;
}

.Intro--music {
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='95%'>🎵</text></svg>");
}

.Intro--music:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎵</text></svg>")
      16 0,
    auto;
}

.content-title {
  color: rgb(1, 191, 155);
  padding: 0px 0px 30px 30px;
  margin: 0;
}

.About--button-container {
  height: 50px;
  width: 400px;
  padding-left: 30px;
}

.About--button {
  margin-right: 20px;
}

.About--info {
  width: 80%;
  padding: 0px 0px 30px 30px;
}

.Project--container {
  display: flex;
  padding: 20px 0px 0px 30px;
  margin: 0px;
}

.Project--img {
  width: 400px;
  height: 200px;
}

.Project--featured {
  font-size: 0.9em;
}

#projectTitle1,
#projectTitle3 {
  padding-left: 700px;
}

#projectTitle2 {
  padding-right: 700px;
}

.Project--name {
  color: rgb(1, 191, 155);
  font-size: 1.2em;
}

.Project--info {
  width: 700px;
}

#projectInfo1,
#projectInfo3 {
  padding-left: 30px;
  margin: 0;
}

#projectInfo2 {
  margin: 0;
}

.Contact--container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Contact--title {
  color: rgb(1, 191, 155);
}

.Contact--icons-container {
  width: 200px;

  display: flex;
  justify-content: space-evenly;
  color: rgb(1, 191, 155);
}

.Contact--icons {
  font-size: 1.5em;
}

.Contact--icons:hover {
  cursor: pointer;
}
